.footer {
  position: relative;

  background: #050816;

  margin-top: 4rem;

  overflow: hidden;

  border-top: 1px solid rgba(0, 255, 255, 0.15);
}

/* glow decorativo */

.overlay {
  position: absolute;
  inset: 0;

  background:
    radial-gradient(
      circle at top left,
      rgba(0, 255, 255, 0.08),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(0, 140, 255, 0.08),
      transparent 40%
    );

  pointer-events: none;
}

.content {
  position: relative;

  z-index: 2;

  padding: 3rem 2rem;

  text-align: center;
}

.logo {
  color: white;

  font-size: 2rem;

  margin-bottom: 0.5rem;

  letter-spacing: 2px;
}

.logo span {
  color: #00ffff;
}

.descripcion {
  color: #94a3b8;

  margin-bottom: 2rem;
}

.bottom {
  margin-top: 2rem;

  padding-top: 1rem;

  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.bottom p {
  color: #64748b;

  font-size: 0.9rem;
}
